<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opening.VibratorControl.vibratorcontrol"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.opening.VibratorControl.vibratorcontrol.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opening.VibratorControl.vibratorcontrol.TimeSet"
            android:parentActivityName="com.opening.VibratorControl.vibratorcontrol.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.opening.VibratorControl.vibratorcontrol.MainActivity" />
        </activity>
        <activity
            android:name="com.opening.VibratorControl.vibratorcontrol.Pop"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <receiver
            android:name="com.opening.VibratorControl.vibratorcontrol.AlarmReceiverActivity"
            android:process=":remote">
        </receiver>

        <service
            android:name="com.opening.VibratorControl.vibratorcontrol.BackgroundService"
            android:exported="false"></service>

        <activity android:name="com.opening.VibratorControl.vibratorcontrol.Modes"
            android:parentActivityName="com.opening.VibratorControl.vibratorcontrol.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.opening.VibratorControl.vibratorcontrol.MainActivity" />

        </activity>

        <receiver
            android:name="com.opening.VibratorControl.vibratorcontrol.Onboot"
            android:process=":remote">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>

    </application>

</manifest>